[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

character-set-server = utf8mb4
default_password_lifetime = 0
innodb_file_per_table
user=mysql
skip-grant-tables

[mysqld_safe]
timezone = Asia/Tokyo
